.main {
  width: 35%;
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  border: hsl(0, 1%, 36%) 3px solid;
}
.main__title {
  font-size: 3.6rem;
  margin: 0.7rem;
}
.main__description {
  font-size: 1.9rem;
  text-align: center;
}

.main__img {
  width: 100%;
}
.start-btn {
  border: 0;
  border-radius: 13px;
  background-color: #ff8800;
  padding: 10px;
  width: 35vw;
  min-width: 270px;
  font-size: 2rem;
  min-width: 500px;
}
@media all and (max-width: 767px) {
  .main {
    width: 90%;
    min-width: 270px;
    min-height: 450px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .start-btn {
    width: 90vw;
    min-width: 270px;
    border-radius: 8px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .main {
    width: 65%;
    margin-bottom: 15px;
  }

  .start-btn {
    width: 65vw;
  }
}
