.result-box {
  width: 35%;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  min-width: 500px;
}
.result__title {
  font-size: 3.6rem;
  text-align: center;
  margin-top: 10px;
}

.result__description {
  font-size: 2.4rem;
  width: 90%;
  text-align: center;
}

.result__img {
  width: 100%;
}

.result__partner__title {
  font-size: 2.3rem;
  margin: 4px 0;
  color: rgba(0, 0, 0, 0.5);
}
.result__partner__result {
  font-size: 2rem;
}

.restart-btn {
  border: 0;
  border-radius: 15px;
  background-color: plum;
  padding: 11px;
  width: 35vw;
  min-width: 270px;
  font-size: 1.8rem;
  min-width: 500px;
}
.restart-btn:hover {
  color: white;
  background-color: rgb(190, 54, 175);
}

@media all and (max-width: 767px) {
  .result-box {
    width: 85%;
    margin-bottom: 15px;
    min-width: 270px;
    min-height: 450px;
  }
  .restart-btn {
    width: 85vw;
    min-width: 270px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .result-box {
    width: 65%;
  }

  .restart-btn {
    width: 65vw;
  }
}
