.container {
  width: 35%;
  min-width: 500px;
  height: 100vh;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.progress-div {
  width: 100%;
  height: rem;
  background-color: #ffffff;
  text-align: center;
  border-radius: 10px;
}

.progress {
  background-color: #ff8800;
  height: rem;
  border-radius: 10px 0 0 10px;
}

.progress-per {
  margin: 1.2rem 0;
  font-size: 1.5rem;
}
@media all and (max-width: 767px) {
  .container {
    width: 96%;
    min-width: 270px;
    min-height: 500px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 65%;
  }
}
