.container {
  width: 35%;
  height: 100vh;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.progress-div {
  width: 100%;
  height: rem;
  background-color: rgba(205, 159, 218, 0.4);
  text-align: center;
  border-radius: 10px;
}

.progress {
  background-color: rgb(190, 54, 175);
  height: rem;
  border-radius: 10px 0 0 10px;
}

.progress-per {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
@media all and (max-width: 767px) {
  .container {
    width: 85%;
    justify-content: center;
    min-width: 270px;
    min-height: 500px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 50%;
    justify-content: center;
  }
}
