.question-box {
  width: 100%;
  background-color: white;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  font-size: 2.5rem;
  height: 150px;
  border: rgba(0, 0, 0, 0.2) solid 3px;
}
@media all and (max-width: 767px) {
  .question-box {
    display: flex;
    align-items: center;
    margin: 10px 0 7px 0;
    padding: 33px 8px;
    border-radius: 12px;
    border: rgba(0, 0, 0, 0.2) solid 2px;
    height: 150px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .question-box {
    margin: 20px 0 10px 0;
    padding: 30px 15px;
    border-radius: 13.5px;
  }
}
